.icon-小蒙老师{background-image: url('sprite.png');background-position: -1220px 0px ;width:474px;height:540px;}
.icon-老师图片01{background-image: url('sprite.png');background-position: -610px 0px ;width:600px;height:679px;}
.icon-老师图片02{background-image: url('sprite.png');background-position: 0px 0px ;width:600px;height:683px;}
